!.gitkeep

*.env
*.sql
*.pgdump

forgejo/postgres/
forgejo/data/
forgejo/config/app.ini

autumnsky.systems/html/

wordpress/db/
wordpress/html/wp-config.php
wordpress/html/wp-content/*
!wordpress/html/wp-content/plugins/
!wordpress/html/wp-content/themes/
